{% extends 'spotify/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        <a href={{ open_in_spotify_url }}><img class="img-fluid" src={{ image_url }}></a>
        </div>
        <div class="col-sm">
            <table class="table">
                <tr>
                    <td><b>Artist</td>
                    <td>{{ artist.name }}</td>
                </tr>
                <tr>
                    <td><b>Genres</td>
                    <td>
                        {% for genre in genres %}
                        <a href={% url 'genre' genre.id %}>[{{ genre.name }}] </a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><b>Recent Plays</td>
                    <td>
                {% for play in recently_played %}
                <a href={% url 'track' play.track.id %}>{{ play.track.name }}</a> <i>({{ play.played_at }})<br>
                {% endfor %}
                </td>
        </div>

    </div>
    {% endblock %}
