{% extends 'spotify/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <tr>
                    <td><b>Genre</td>
                    <td>{{ genre.name }}</td>
                </tr>
                <tr>
                    <td><b>Artists</td>
                    <td>
                        {% for artist in genre_artists %}
                        <a href={% url 'artist' artist.id %}>{{ artist.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
            </table>
        </div>
        <div class="col-sm">
            <table class="table">
                {% for play in recently_played %}
                <tr>
                    <td><a href={% url 'track' play.track.id %}>{{ play.track.name }}</a></td>
                    <td>{{ play.played_at }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
