{% extends 'spotify/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm">

                <a href={{ open_in_spotify_url }}><img class="img-fluid" src={{ cover_url }}></a>

            </div>
            <div class="col-sm">
                <table class="table">
                    <tr>
                        <td><b>Name</td>
                            <td>{{track.name}}</td>
                        </tr>
                        
                        <td><b>Length</td>
                            <td>{{track.length}}</td>
                        </tr>

                        <td><b>Album</td>
                            <td>{{album}}</td>
                        </tr>

                        <td><b>Genres</td>
                            <td>{% for genre in genres %}
                                <a href={% url 'genre' genre.id %}>[{{ genre }}]</a>   
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Artist(s)</td>
                                <td>
                                    {% for artist in artists %}
                                    <a href={% url 'artist' artist.id %}>{{artist.name}}</a><br>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <td><b>Last Played</td>
                                    <td>
                                        {% for play in recently_played %}
                                            {{play.played_at}} <br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}
