{% extends "spotify_test/base.html" %}
{% block content %}


<div class="content">
    {% if logged_in %}

    <form class="form-row" action="{% url 'spotify_test:auth' %}" method="post">
        {% csrf_token %}    
        <input type="submit" name="login" value="See recently played Songs" class="btn btn-primary">
    </form>
    <br>   
    <form class="form-row" action="{% url 'spotify_test:logout' %}" method="post">
        {% csrf_token %}    
        <input type="submit" name="login" value="Log Out" class="btn btn-primary">
    </form>
    
    {% else %}

    <form class="form-row" action="{% url 'spotify_test:auth' %}" method="post">
        {% csrf_token %}    
        <input type="submit" name="login" value="Login to Spotify" class="btn btn-primary">
    </form>
 {% endif %}
</div>

{% endblock %}

