<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Todo List</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      </head>
    <body>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"> 
    </script>
        <div class="jumbotron jumbotron-fluid" style="text-align:center">
            <h1 class="display-4">Todo List</h1>
            <p class="lead">A simple way to keep track of things</p>
        </div>

        <div class="container">
           

        <div class="content">
            <table class="table">
                <tr>
                    <th>Due Date</th>
                    <th>Task</th>
                    <th></th>
                </tr>
                
                {% for t in latest_todos %}
                <tr>
                    <td>{{ t.todo_date|date:"Y-m-d" }}</td>
                    <td><b>{{ t.todo_text }}</b></td> 
                    <td>
                    <form style="text-align:right" action="{% url 'todo:delete_entry' %}" method="post" >
                            {% csrf_token %}
                            <input type="hidden" name="id" value ={{ t.id }}>
                            <input type="submit" value="DELETE" class="btn btn-primary">
                    </form>
                    </td>
                </tr>
                {% endfor %}            
            </table>

            <form class="form-row" action="{% url 'todo:new_entry' %}" method="post">
                {% csrf_token %}
                <div class="form-group col-md-5">
                    <input type="text" name="new_todo_text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <input type="date" name="new_todo_date" class="form-control">
                </div>
                <div class="form-group col-md-1">
                    <input type="submit" value="ADD" class="btn btn-primary">
                </div>
            </form>
        </div>
        </div>
    </body>
</html>

