<!DOCTYPE html>
<html lang="en">

<head>
    <title>LIT - Your personal literatur management system</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid p-5 my-4 text-white" style="text-align:center;background-color:#001b38">
        <a href={% url 'index' %} class="text-reset text-decoration-none">
            <h1 class="display-4">{{ pagetitle }}</h1>
            <p class="lead">{{ pagesubtitle }}</p>
        </a>
    </div>

    {% block content %}

    {% endblock %}

</body>

</html>
