{% extends 'lit/base.html' %}

{% block content %}

    <div class="container p-4">

        <div class="form">
            <form action="{% url "new_book" %}" method="POST">
                {% csrf_token %}

                <div class="form-row d-flex justify-content-center">
                    <div class="col-4">
                        <input class="form-control " type="text" name="isbn" placeholder="Enter ISBN (optional)"/>
                        <small class="form-text text-muted">ISBN is used to get data from openlibrary.org</small>
                    </div>
                    <div class="col-2">
                        <input class="form-control btn btn-primary" type="submit" value="Add New Book">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Dont show the list / controls if there are no books yet -->
    {% if not empty %}
        <div class="container">
            <table class=table>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Publisher</th>
                    <th></th>
                </tr>

                {% for book in books %}
                    <tr>
                        <td><input form="add_to_bibliography" class="form-check-input" type="checkbox" value="{{book.id}}" name="checked_books" /></td>
                        <td>{{ book.title }}</td>
                        <td>
                        {{ book.author.surname }}
                            {% for additional_author in book.additional_authors.all %}
                             / {{ additional_author.surname }}
                            {% endfor %}
                        </td>
                        <td>{{ book.publisher }}</td>
                        <td><a class="btn btn-primary btn-sm" role="button" href="{% url 'book' book.id %}">Details</a></td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <div class="form">
                <form id="add_to_bibliography" action="{% url "bibliography" %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        <select class="custom-select col-2 mx-2" form="add_to_bibliography" name="selection">
                            <option value="selected">Selected books</option>
                            <option value="not_selected">Not selected books</option>
                            <option value="all">All books</option>
                        </select>

                        <select class="custom-select col-1 mx-2" form="add_to_bibliography" name="citation">
                            <option value="APA">APA</option>
                            <option value="IEEE">IEEE</option>
                            <option value="MLA">MLA</option>
                        </select>

                        <input class="btn btn-primary col-2 mx-2" type="submit" value="Create Bibliography">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
