{% extends "shopping_list/base.html" %}
{% block content %}

<div class="content">
    <table class="table">
        <tr>
           <th>Eintrag</th>
           <th>Menge</th>
           <th>Preis</th>
           <th>Shop</th>
           <th></th>
        </tr>

        {% for e in all_list_entries %}
        <tr>
            <td>{{ e.shopping_list_entry_name }}</td>
            <td>{{ e.shopping_list_entry_amount }}</td>
            <td>{{ e.shopping_list_entry_price }}</td>
            <td>{{ e.shopping_list_entry_shop }}</td>
            <td>
                <form style="text-align:right" action="{% url 'shopping_list:delete_shopping_list_entry' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ s.id }}>
                    <input type="submit" value="Löschen" class="btn btn-primary">
                </form>
            </td>
        </tr>

{% endfor %}

      </table>

      <form class="form-row" action="{% url 'shopping_list:new_list_entry' %}" method="post">
    {% csrf_token %}
    <div class="form-group col-md-5">
        <input type="text" name="new_shopping_list_entry_name" class="form-control" placeholder="Neuer Eintrag">
    </div>
    <div class="form-group col-md-2">
        <input type="int" name="new_shopping_list_entry_amount" class="form-control" placeholder="Menge">
    </div>
    <div class="form-group col-md-2">
        <input type="int" name="new_shopping_list_entry_price" class="form-control" placeholder="Preis">
    </div>
    <div class="form-group col-md-2">
        <input type="text" name="new_shopping_list_entry_shop" class="form-control" placeholder="Shop">
    </div>
    <div class="form-group col-md-1">
        <input type="submit" value="Hinzufügen" class="btn btn-primary">
    </div>
</form>
</div>

{% endblock %}
