{% extends 'textadventure/base.html' %}

{% block content %}

    <div class="nes-container margin is-centered">
        {% if good_end %}
        <p>Congratulations {{player.name}}, you have reached the end before running out of actions!</p>
        {% else %}
        <p>{{player.name}}, you were not able to reach the end in time!</p>
        {% endif %}
    </div>

    <div class="nes-container with-title margin">
        <p class="title">Your Story</p>
        <p>{{ player.story_text }}</p>
    </div>

    <a href="{% url 'index' %}" class="nes-btn is-primary" role="button">Play Again!</a>
{% endblock %}
