{% extends 'textadventure/base.html' %}

{% block content %}

    <div class="nes-container with-title margin_top_bottom">
        <p class="title">{{player.name}}</p>

        <table>
            <tr>
                <td class="pad-right">Life</td>
                <td>
                    {% for f in hearts.full %}
                        <i class="nes-icon is-medium heart"></i>
                    {% endfor %}
                    {% for h in hearts.half %}
                        <i class="nes-icon is-medium heart is-half"></i>
                    {% endfor %}
                    {% for e in hearts.empty %}
                        <i class="nes-icon is-medium heart is-empty"></i>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="pad-right">Items</td>
                <td>
                    {% for item in items %}
                        <span class="nes-badge">
                            <span class="is-primary">{{item.name}}</span>
                        </span>
                    {% endfor %}
                </td>
            </tr>
        </table>

    </div>

    <div class="nes-container with-title margin">
        <p class="title">Locations</p>
        {% for st in discovered_stations %}
            {% if st.id_name == station.id_name %}
                <!-- Useless button as you are already at this location--!>
                <button class="nes-btn is-success">{{ st.name }}</button>
            {% else %}
                <a href="{% url 'station' player.name st.id_name %}" class="nes-btn is-primary" role="button">{{st.name}}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="nes-container with-title margin">
        <p class="title">{{station.name}}</p>
        <p class="nes-text is-disabled">{{ story }}</p>
        <p class="nes-text is-primary">{{ player.last_action }}</p>
        <p>
        {% for event in events %}
            {{ event.event_text }} 
        {% endfor %}
        </p>

    </div>

    <div class="nes-container with-title margin">
        <p class="title">Actions</p>
        {% for choice in choices %}
            <a style="margin-bottom: 10px; margin-top: 10px" href="{% url 'choice' player.name choice.next_station.id_name choice.event.id_name choice.id %}" class="nes-btn is-primary" role="button">{{ choice.action_text }}</a>
        {% endfor %}
    </div>


{% endblock %}
