{% extends 'textadventure/base.html' %}

{% block content %}
    <div class="nes-container ">
        <p>Welcome to ESCAPE! The first online web3.0-compatible interactive point-and-click-on-buttons textadventure!</p>
        <p>The goal is to escape the room - but you are on a timer. Each actions costs a <i class="nes-icon is-small heart is-half"></i>. If you run out of <i class="nes-icon is-small heart"></i> before you get out - you lose!</p>
        <form action="{% url 'start_game' %}" method="post">
            {% csrf_token %}
            <div class="nes-field margin">
                <label for="player_name_field">Enter your name:</label>
                <input type="text" name="player_name" id="player_name_field" class="nes-input is-centered">
            </div>
            <input type="submit" value="Start the Game" class="nes-btn is-primary margin">
        </form>

    </div>
{% endblock %}
