<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>
<body>
    <h1>{{title}}</h1>
    <div class="menu">
        <ul>
            <li>Seite 1</li>
            <li>Seite 2</li>
        </ul>
    </div>
    <div class="content">
        {%block content%}
            Leer...sollte nicht erreicht werden!
        {% endblock %}
    </div> 
</body>
</html>
