<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{name}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>
<body>
    <h1>Hello, {{name}}!</h1>
</body>
</html>
